<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<ul>
  <%@reviews.each do |review|%>
    <li><%=review.content%></li>
    <li><%= review.rating %></li>
  <%end%>
</ul>

<%=link_to 'Add Review/Rating', new_restaurant_review_path(@restaurant),  class: "btn btn-primary"%>

<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
